[twitch]
username = 'your_twitch_username'
channels = ["your_twitch_username", "our_other_channel_name"]
# You can store here directly the Oauth token without having to use encryption or yarrsecrets.toml
oauth_token = '%%TWITCH_OAUTH_TOKEN%%'

