/* CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main styles */
body {
    color: #fff;
    font-size: 22px;
}

#content {
    margin-left: 8px;
    padding-bottom: 4px;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

.shadow {
    text-shadow: 1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        0px 1px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
        -1px 2px 0 #000,
        1px -2px 0 #000,
        -1px -2px 0 #000,
        2px 1px 0 #000,
        -2px 1px 0 #000,
        2px -1px 0 #000,
        -2px -1px 0 #000,

        3px 0px 0 #000,
        3px 1px 0 #000,
        3px 2px 0 #000,
        3px -0px 0 #000,
        3px -1px 0 #000,
        3px -2px 0 #000,

        0px 3px 0 #000,
        1px 3px 0 #000,
        2px 3px 0 #000,
        -0px 3px 0 #000,
        -1px 3px 0 #000,
        -2px 3px 0 #000,

        -3px 0px 0 #000,
        -3px 1px 0 #000,
        -3px 2px 0 #000,
        -3px -0px 0 #000,
        -3px -1px 0 #000,
        -3px -2px 0 #000,

        0px -3px 0 #000,
        1px -3px 0 #000,
        2px -3px 0 #000,
        -0px -3px 0 #000,
        -1px -3px 0 #000,
        -2px -3px 0 #000,

        0px 0px 1px #000
}

.chatmsg-twitch {
    border-color: #6441A4;
}

.provider-twitch {
    color: #6441A4;
}

.chatmsg-matrix {
    border-color: #0dbd8b;
}

.provider-matrix {
    color: #0dbd8b;
}

.username {
    font-weight: 600;
}

.message {
    display: inline;
    margin-left: 4px;
}