/* main styles */
body {
    font-family: "Noto sans", sans-serif;
    /* chroma-key */
    background-color: #030;
}

.chatmsg {
    border-left-width: 6px;
    border-left-style: solid;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 8px;
    margin-left: 0px;
}

.spacing {
    padding: 2px;
}

.badges {
    display: inline-block;
    margin-right: 2px;
}

.badge,
.provider-logo-img,
.emote {
    filter: drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000);
}

.badge,
.provider-logo-img {
    max-width: 28px;
    max-height: 28px;
    margin-right: 1px;
    margin-bottom: -6px;
}

.emote {
    max-width: 40px;
    max-height: 40px;
    margin-right: 1px;
    margin-left: 2px;
    margin-bottom: -6px;
}

.provider {
    display: inline-block;
    margin-left: 0;
    padding-right: 0.25em;
}

.username {
    font-weight: 600;
    display: inline-block;
    margin-left: 0;
}

.message {
    display: inline;
    margin-left: 4px;
    line-height: 1.5;
}